---
layout: layouts/page.njk
title: Page not found
icon: 🔭
permalink: /404.html
eleventyExcludeFromCollections: true
lede: "I looked everywhere, even at a few pixels' resolution. This page doesn't exist."
---
<p>Try the <a href="/">home page</a>, the <a href="/blog/">blog</a>, or my <a href="/research/">research</a>.</p>
